body {
  background: url('https://th.bing.com/th/id/R.1ae83e30467ef889a4a3fe8c4412d0d7?rik=k2YG08%2bDuTwPhg&riu=http%3a%2f%2f4.bp.blogspot.com%2f-wqcF28E7m2Y%2fUkS3GmgeoSI%2fAAAAAAAAUsw%2fmPp_OJo6Wtc%2fs1600%2fDescargar%2bpack%2bfondos%2babstractos%2b%2b%252528455%252529.jpg&ehk=AkhpHNgvIQJKvCDcuKzFxiAqva3l%2f5nDWHNloyyXGsI%3d&risl=&pid=ImgRaw&r=0');
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
